.header {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(171, 172, 183, 0.9);
}
.header h2 {
    position: absolute;
    left: 4rem;
}
.header__nav {
    position: absolute;
    right: 4rem;
    width: 20rem;
    display: flex;
    justify-content: space-between;
}
.header__links {
    text-decoration: none;
    color: white;
    font-size: large;
}