.header {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(171, 172, 183, 0.9);
}
.header h2 {
    position: absolute;
    left: 4rem;
}
.header__nav {
    position: absolute;
    right: 4rem;
    width: 20rem;
    display: flex;
    justify-content: space-between;
}
.header__links {
    text-decoration: none;
    color: white;
    font-size: large;
}
.header__dropdown {
    display: inline-block;
    position: relative;
}
.header__dropdown__content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
}
.header__dropdown:hover .header__dropdown__content {
    display: block;
}
.header__dropdown__content .header__links {
    display: block;
    padding: 5px;
    text-decoration: none;
}
.header__dropdown__content .header__links:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}